<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создать товар</title>
  <link rel="stylesheet" th:href="@{/css/CreateItemPage.css}">
</head>
<body>
<h2>Создать новый товар</h2>

<form th:action="@{/create-item}" th:object="${item}" method="post">
  <label for="title">Название</label>
  <input type="text" id="title" th:field="*{title}" required>

  <label for="price">Цена</label>
  <input type="number" id="price" th:field="*{price}" required>

  <button type="submit">Сохранить</button>
</form>

<a href="/">Назад на главную</a>
</body>
</html>
