<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>Вход</h2>

<form th:action="@{/login}" method="post">
  <div>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required>
  </div>

  <div>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
  </div>

  <button type="submit">Войти</button>
</form>

<div th:if="${message}" th:text="${message}" style="color:green"></div>

<p>Нет аккаунта? <a th:href="@{/auth/registration}">Зарегистрироваться</a></p>
</body>
</html>
